body {
  background-color: #000;
  overflow-x: hidden;
  color: rgba(255,255,255,0.45);
}

h1 {
  min-height: 92px;
  padding: 20px 80px 0 80px;
  margin: 12px 0 0 0;
  font-size: 2.4em;
  color: rgba(255,255,255,0.3);
}

#slimh1 {
  padding: 20px 80px 0 80px;
  min-height: 42px;
  height: 42px !important;
}

h2 {
  padding-top: 12px;
}

h3 {
  margin: 16px 0;
}

a {
  color: rgba(255,255,255,0.6);
}

@media (max-width: 558px) {
  .highlight-panels > li > a {
    padding: 32px 16px !important;
  }
}

.highlight-panels > li > a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  padding: 32px 80px;
  display: block;
}

.highlight-panels > li > a > .pull-right {
  padding-top: 0.2em;
  font-size: 0.8em;
}

@media (max-width: 840px) {
  .highlight-panels li {
    height: 144px;
  }
}

@media (max-width: 440px) {
  .highlight-panels li {
    height: 180px;
  }
}

#forumnav li.active a:hover,
#forumnav li.active a:focus,
#forumnav li a:hover,
#forumnav li a:focus,
a:hover, a:focus {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

ul { padding: 0; margin: 0; }

.col-xs-offset-1-5 {
  margin-left: 12.5%;
}

.highlight-panels {
  width: 100%;
}

.highlight-panels li a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50); // <=IE8
}

.highlight-panels img {
  width: 24px;
  padding-bottom: 4px;
  border-radius: 12px;
}

.highlight-panels li {
  min-height: 96px;
  display: block;
}

.highlight-panels li a:hover,
.highlight-panels li a:focus {
  background-color: rgba(255,255,255,0.3);
}

.type {
  font-size: 14px;
  color: #333;
  display: inline-block;
}

.highlight-panels#forum b {
  font-variant: small-caps;
  letter-spacing: 1.2px;
}

#heroes {
  background-image: url('../img/heroes5.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #000000;
}

#proteus {
  background-color: #1d5081;
}

#antares {
  background-color: #0C4637;
}

#merinth {
  background-color: #00817D;
}

#arcturyx {
  background-color: #c3da58;
}

#goldwing {
  background-color: #5E2328;
}

#skymage {
  background-image: url('../img/skymage-header.png');
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-color: #F8E8F5;
}

#skymage a {
  color: rgba(35, 62, 75, 0.9);
}

#skymage a:hover,
#skymage a:focus {
  color: rgba(35, 62, 75, 0.6);
}

#sking {
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: 50% 33%;
  background-repeat: no-repeat;
  background-color: #B18961;
}

#herosynergy {
  background-color: #202C2F;
}

#metareport {
  background-color: #29202E;
}

#talents {
  background-color: #292929;
}

#items {
  background-color: #20242E;
}

#corevern {
  background-color: #B1E3E4;
  background-image: url('../img/corevernheader.png');
  background-position: center;
  background-repeat: no-repeat;
}

#corevern a {
  color: rgba(48, 74, 70, 0.9);
}

#corevern a:hover,
#corevern a:focus {
  color: rgba(48, 74, 70, 0.6);
}

#account-nav {
  margin-top: 8px;
  padding: 12px 0;
  height: 72px;
  font-size: 1.0em;
  color: #F9F9F9;
}

#account-nav ul li:last-child {
  color: rgba(255,255,255,0.2);
  padding: 15px 15px;
}

.load {
  padding: 16px;
}

#footer {
  position: fixed;
  bottom: 0;
  padding: 12px 0 0 0;
  height: 76px;
  font-size: 1.0em;
  color: #F9F9F9;
  width: 100%;
  margin: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
}

#footer ul li:last-child {
  color: rgba(255,255,255,0.2);
  padding: 15px 15px;
}

.nav-tabs {
  text-align: center;
  border: 0;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
}

#footer > .nav-tabs > li.active {
  display: none;
}

#forumnav li.active > a {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.5);
}

#forumnav > li > a,
#forumnav > li > a,
.nav-tabs > li > a,
.nav-tabs > li.active > a {
  background-color: rgba(255,255,255,0);
  border: 0;
  border-radius: 6px;
  font-size: 16px;
}

#twitter, #reddit,
#patreon, #discord {
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.18);
}

#whatsthis {
  margin-left: 48px;
  padding: 6 8px;
  background-color: rgba(255,255,255,0.3);
}

#forumnav #forumbtn {
  font-size: 24px;
  padding: 2px 12px;
}

#forumbtn {
  font-variant: small-caps;
  letter-spacing: 1.2px;
  font-size: 0.6em;
  background-color: rgba(255,255,255,0.3);
}

#whatsthis:hover,
#whatsthis:focus,
#forumbtn:hover,
#forumbtn:focus {
  background-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.8);
}

#patreon:hover,
#patreon:focus,
#discord:hover,
#discord:focus,
#twitter:hover,
#twitter:focus,
#reddit:hover,
#reddit:focus {
  background-color: rgba(255,255,255,0.3);
}

#forumnav > li > a:hover,
#forumnav > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: rgba(255,255,255,0.3);
  border: 0;
  border-radius: 6px;
}

.nav > li > a {
  padding: 15px;
}

#about p,
#collab p {
  font-size: 17px;
  padding: 0 20%;
}

#larrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

#forumnav {
  margin: 0 0 16px 0;
}

#forumnav > ul,
#forumnav > div {
  display: inline-block;
}

#controlsslim {
  margin: 16px 0 12px 0;
  padding: 4px 0;
}

#controls {
  margin: 16px 0;
}

@media (max-width: 840px) {
  #controls {
    margin: 8px 0;
  },
  #controls {
    height: 72px;
  }
}

.filterlabel {
  color: rgba(255,255,255,0.5);
  font-variant: small-caps;
  letter-spacing: 1.2px;
  display: inline-block;
}

.filterbtn {
  display: inline-block;
}

@media (max-width: 840px) {
  .filterlabel,
  .filterbtn {
    display: block;
  }
}

.filterbtn > .btn-group > button {
  background-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.5);
}

.filterbtn > .btn-group > button:hover,
.filterbtn > .btn-group > button:focus {
  background-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.8);
}

.modal-dialog {
  width: 60vw;
}

@media (max-width: 840px) {
  .modal-dialog {
    width: 85vw;
  }
}

.modal-content,
.dropdown-menu {
  background-color: rgba(127,127,127,0.87);
  max-height: 640px;
}

.dropdown-menu#scroll {
  overflow-y: scroll;
}

.dropdown-menu > li > a {
  color: #f9f9f9;
}

.rules-btn {
  margin-left: 48px;
  padding: 4px 0;
}

.new-btn {
  margin-right: 48px;
  padding: 4px 0;
}

.rules-btn .btn,
.new-btn .btn {
  font-size: 36px;
}

.spacer {
  height: 76px;
}

#about {
  width: 42%;
  min-width: 540px;
  margin: 0 auto;
}
