body {
  background-color: #000;
}

h1 {
  min-height: 92px;
  padding: 32px 80px;
  font-size: 2.4em;
  padding-bottom: 24px;
}

a {
  color: rgba(255,255,255,0.5);
}

.highlight-panels > li > a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  padding: 32px 80px;
  display: block;
}

a:hover, a:focus {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

ul { padding: 0; margin: 0; }

.highlight-panels {
  width: 100%;
}

.highlight-panels li {
  min-height: 96px;
  display: block;
}

.highlight-panels li a:hover,
.highlight-panels li a:focus {
  background-color: rgba(255,255,255,0.3);
}

#skymage {
  background-image: url('../img/skymage-header.png');
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-color: #F8E8F5;
}

#skymage a {
  color: rgba(35, 62, 75, 0.8);
}

#skymage a:hover,
#skymage a:focus {
  color: rgba(255, 255, 255, 0.8);
}

#sking {
  background-image: url('../img/header.png');
  background-position: 50% 33%;
  background-repeat: no-repeat;
  background-color: #B18961;
}

#corevern {
  background-color: #B1E3E4;
  background-image: url('../img/corevernheader.png');
  background-position: center;
  background-repeat: no-repeat;
}

#corevern a {
  color: rgba(48, 74, 70, 0.8);
}

#corevern a:hover,
#corevern a:focus {
  color: rgba(255, 255, 255, 0.8);
}

