
body {
  overflow-x: hidden;
  background-color: #20242E;
  color: #1E1E1E;
}

#svgContainer {
  z-index: 10;
  position: absolute;
  pointer-events: none;
}

h1 {
  color: #1E1E1E;
  margin: 12px;
  font-size: 42px;
}

h2 {
  font-size: 24px;
  margin: 12px 0;
}

h3 {
  font-size: 18px;
  margin: 8px 0;
}

h4 {
  margin: 4px 0;
}

.section-bg > .tab-pane > .row:not(.page-spacer) .row:not(.bottom-wide) {
  margin: 4px 0 16px;
  min-height: 48px;
}

.section-bg {
  background-color: rgba(210,215,240,0.35);
  padding: 0;
  width: 96%;
  margin: 54px auto 0 auto;
}

div[class^="col-"] {
  padding: 0;
}

/*div[id^='col-'] > .row > div[class^="col-"]:hover {
  border-radius: 8px;
  background: rgba(144,146,151,0.9);
  -webkit-transition:background 0.5s;
  -moz-transition:background 0.5s;
  -o-transition:background 0.5s;
  transition:background 0.5s;
}*/

.col-xs-32 {
  width: 12.5% !important;
}

@media (min-width: 1200px) {
  .col-lg-35 {
    width: 29.166666% !important;
  }
}

@media (max-width: 1200px) {
  .bottom-wide {
    margin-bottom: 24px !important;
  }
  .bottom-tall {
    margin-bottom: 0px !important;
  }
}

.bottom-wide {
  min-height: 0;
  margin-bottom: 0px;
}

.spacer {
  height: 20px;
}

#nav {
  padding-right: 10%;
}

#str, #int, #agi, #stat, #regen, #cons, #mobi, #dam, #def, #util, #cast, #supp {
  display: inline-block;
}

#strp, #intp, #agip, #statp, #regenp, #consp, #mobip, #damp, #defp, #utilp, #castp, #suppp,
#strlp, #intlp, #agilp, #statlp, #regenlp, #conslp, #mobilp, #damlp, #deflp, #utillp, #castlp, #supplp {
  display: none;
}

#key b {
  padding: 8px 0;
  margin-bottom: 0;
}

#key span {
  display: inline-block;
  color: #1E1E1E;
  background-color: rgba(94,98,114,0.8);
  padding: 2px 4px;
  margin-bottom: 4px;
}

#dota {
  font-weight: 900;
  color: #20242E;
  text-shadow: -1px 0 0.5px rgba(249,249,249,0.8), 0 1px 0.5px rgba(249,249,249,0.8), 1px 0 0.5px rgba(249,249,249,0.8), 0 -1px 0.5px rgba(249,249,249,0.8),
               -1px -1px 0.5px rgba(249,249,249,0.8), 1px 1px 0.5px rgba(249,249,249,0.8), 1px -1px 0.5px rgba(249,249,249,0.8), -1px 1px 0.5px rgba(249,249,249,0.8);
}

#theory {
  font-weight: 300;
}

#logo {
  display: inline-block;
  font-size: 2.4em;
  color: rgba(249,249,249,0.8);
  margin: -4px auto 0 auto;
}

#navigation {
  padding: 8px 3%;
  max-height: 50px;
  background-color: rgba(32,36,46,0.6);
}

.navbar-default {
  background-color: rgba(255,255,255,00);
  padding: 0;
  border: 0;
}

a { color: #40444E; }

a:focus, a:hover {
  color: #f9f9f9;
  text-decoration: none;
}

.btn-default {
  color: rgba(249,249,249,0.85);
  background-color: rgba(32,36,46,0.3);
  box-shadow: 0 0 6px rgba(249,249,249,0.85);
  border: 0;
  font-weight: 400;
  padding: 9px 12px;
}

.btn-default:active:hover,
.btn-default:hover,
.btn-default:active {
  background-color: #5E6272;
  color: #f9f9f9;
  box-shadow: 0;
}

.btn-main:focus,
.btn-main {
  color: rgba(249,249,249,0.6);
  background-color: rgba(32,36,46,0.2);
  box-shadow: 0 0 6px rgba(249,249,249,0.6);
  border: 0;
  font-weight: 400;
}

.btn-main.dropdown-toggle:focus,
.btn-main:active:hover,
.btn-main:hover,
.btn-main:active {
  color: #f9f9f9;
  background-color: #5E6272;
  box-shadow: 0 0 6px rgba(249,249,249,0.85);
}

.btn:active:focus,
.btn:focus { outline: 0; }

.input-group {
  width: 100%;
  border-radius: 4px;
}

.input-group .form-control {
  min-width: 128px;
  max-width: 480px;
  border-radius: 4px;
}

.form-control {
  border-radius: 4px;
  border-color: rgba(249,249,249,0.6);
  background-color: transparent;
  color: rgba(249,249,249,0.85);
  box-shadow: 0 0 6px rgba(249,249,249,0.6);
}

.form-control:hover {
  cursor: pointer;
}

.form-control:focus:hover {
  cursor: auto;
}

.form-control:focus {
  border-color: #f9f9f9;
  background-color: rgba(214,215,221,0.6);
  color: #1E1E1E;
  //background-color: rgba(32,36,46,0.3);
  box-shadow: 0 0 6px rgba(249,249,249,0.85);
}

@media (min-width: 1200px) {
  #filter, #spacer {
    padding: 26px 8px 8px;
  }
  #search {
    padding: 24px 40px 12px 8px;
  }
}
@media (max-width: 1200px) {
  #filter, #spacer {
    padding: 1px 20px 12px 8px;
  }
  #search {
    padding: 0 0 12px 0;
  }
}

span.wip.active {
  color: #e84 !important;
}

div.wip,
span.wip {
  outline: 1px solid #e84;
}

span.draft.active {
  color: #ee4 !important;
}

div.draft,
span.draft {
  outline: 1px solid #ee4;
}

span.official.active {
  color: #4e8 !important;
}

div.official,
span.official {
  outline: 1px solid #4e8;
}

span.polished.active {
  color: #e4e !important;
}

div.polished,
span.polished {
  outline: 1px solid #e4e;
}

span.contest.active {
  color: #4ee !important;
}

div.contest,
span.contest {
  outline: 1px solid #4ee;
}

span.wip:hover,
span.draft:hover,
span.official:hover,
span.polished:hover,
span.contest:hover {
  //cursor: pointer;
}

.item-box-4 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #23242A;
  width: 180px;
}

.item-box-3 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #23242A;
  width: 136px;
}

.item-box-2 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #23242A;
  width: 92px;
  display: inline-block;
}

.item-box-1 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #23242A;
  width: 48px;
  display: inline-block;
  margin: 4px;
}

.glow {
  outline: 4px solid rgba(249,249,249,0.6);
}

.col-xs-3-3 {
  width: 27.77%;
}

@media (max-width: 1200px) {
  .popover {
    max-width: 50vw !important;
  }
}

.popover {
  max-width: 600px;
  padding: 0;
  //background-color: #23242A;
  background-color: rgba(35,36,42,0.9);
  border-radius: 0px;
}

.popover-title {
  background-color: rgba(0,0,0,0);
  color: #F9F9F9;
  padding: 8px;
  border: 0px;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;
}

.popover-inset {
  background-color: rgba(0,0,0,0);
  color: #F9F9F9;
  padding: 0px;
  border: 0px;
}

.popover-line {
  //background-color: #D6D7DD;
  background-color: rgba(214,215,221,0.6);
  color: #191919;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.popover-line > img {
  margin-bottom: 4px;
}

.popover-content {
  background-color: rgba(0,0,0,0);
  color: #F9F9F9;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  font-size: 13px;
  text-align: center;
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba(35,36,42,0.6);
}

.popover.left .arrow:after {
  border-left-color: rgba(35,36,42,0.6);
}

.popover.right .arrow:after {
  border-right-color: rgba(35,36,42,0.6);
}

.popover.top .arrow:after {
  border-top-color: rgba(35,36,42,0.6);
}

.tooltip-inner {
  background-color: rgba(35,36,42,0.9);
  color: #f9f9f9;
}

.tooltip.top .tooltip-inner {
  border-top-color: rgba(35,36,42,0.9);
}

.tooltip.top .tooltip-arrow {
  border-top-color: rgba(35,36,42,0.9);
}

.col-xs-2 {
  padding: 0;
}

#footer {
  padding: 12px 0;
  height: 48px;
  font-size: 1.0em;
  color: #F9F9F9;
}

@media (max-width: 992px) {
  .item-box-1 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

#controls {
  margin: 0 12px;
}

#controls > div {
  margin: 4px 0 12px;
}

#filters span {
  padding: 4px;
  border-radius: 2px;
}

#filters img {
  padding-left: -4px;
}

#filters a {
  color: #1E1E1E;
  white-space: nowrap;
}

#filters a:focus,
#filters a:hover {
  text-decoration: none;
}

.btn-main:hover,
div[class^="item-box-"], div[class^="item-box-"] > img,
#str:hover, #int:hover, #agi:hover,
#stat:hover, #regen:hover, #cons:hover, #mobi:hover, #dam:hover, #def:hover, #util:hover, #cast:hover, #supp:hover,
#strp:hover, #intp:hover, #agip:hover,
#strl:hover, #intl:hover, #agil:hover,
#strlp:hover, #intlp:hover, #agilp:hover,
#statp:hover, #regenp:hover, #consp:hover, #mobip:hover, #damp:hover, #defp:hover, #utilp:hover, #castp:hover, #suppp:hover,
#statl:hover, #regenl:hover, #consl:hover, #mobil:hover, #daml:hover, #defl:hover, #utill:hover, #castl:hover, #suppl:hover,
#statlp:hover, #regenlp:hover, #conslp:hover, #mobilp:hover, #damlp:hover, #deflp:hover, #utillp:hover, #castlp:hover, #supplp:hover {
  cursor: pointer;
}

div[class^="item-box-"] > img {
  //display: inline-block;
}

#strlp { border: 4px solid #cc3333; }
#intlp { border: 4px solid #0099cc; }
#agilp { border: 4px solid #339966; }
#statlp { border: 4px solid #663399; }
#regenlp { border: 4px solid #993399; }
#conslp { border: 4px solid #cccc33; }
#mobilp { border: 4px solid #0066cc; }
#damlp { border: 4px solid #33cccc; }
#deflp { border: 4px solid #999999; }
#utillp { border: 4px solid #993300; }
#castlp { border: 4px solid #99cc66; }
#supplp { border: 4px solid #cc6600; }

.item-str.active0 { background-color: #cc3333; }
.item-int.active1 { background-color: #0099cc; }
.item-agi.active2 { background-color: #339966; }
.item-stat.active3 { background-color: #663399; }
.item-regen.active4 { background-color: #993399; }
.item-cons.active5 { background-color: #cccc33; }
.item-mobi.active6 { background-color: #0066cc; }
.item-dam.active7 { background-color: #33cccc; }
.item-def.active8 { background-color: #999999; }
.item-util.active9 { background-color: #993300; }
.item-cast.activeA { background-color: #99cc66; }
.item-supp.activeB { background-color: #cc6600; }

.dropdown-menu {
  background-color: rgba(81,85,100,0.9);
  max-height: 640px;
}

.dropdown-menu > li > a {
  color: rgba(249,249,249,0.85);
}

.dropdown-menu .divider {
  margin: 4px 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #1E1E1E;
  background-color: rgba(249,249,249,0.6);
}

.navbar #search {
  padding: 4px 0;
}

.navbar #filter {
  padding: 5px 20px 4px 8px;
}

.special {
  margin-left: -8.6666666%;
}

@media (max-width: 1901px) and (min-width: 1200px) {
  .col-xs-4.fixed-height {
    max-height: 48px;
  }
  .col-xs-4.shift-width {
    width: 30%;
  }
  .col-xs-6.fix-margin .item-box-1,
  .col-xs-4.fixed-height .item-box-1,
  .col-xs-4.shift-width .item-box-1 {
    margin: 4px 0 4px;
  }
  .col-xs-5.fixed-height {
    max-height: 48px;
    width: 58.333333333%;
  }
  .col-xs-2.width-spacer {
    width: 0%;
    display: none;
  }
}

@media (max-width: 1282px) and (min-width: 1200px) {
  .col-xs-6.fix-margin .item-box-1,
  .col-xs-4.fixed-height .item-box-1,
  .col-xs-4.shift-width .item-box-1 {
    margin: 4px -2px 4px;
  }
  .col-xs-3.fix-margin .item-box-1,
  .col-xs-4.fix-margin .item-box-1 {
    margin: 4px 0 4px;
  }
  .col-xs-5.fixed-height {
    max-height: 48px;
    width: 65%;
  }
  .col-xs-2.fix-margin {
    width: 10%;
  }
}

@media (max-width: 1582px) and (min-width: 1200px) {
  .col-xs-3.fixed-height {
    max-height: 48px;
    width: 38.3333333%;
    margin-left: -5%;
  }
  .col-xs-3.fixed-height .item-box-1 {
    margin: 4px 0 4px;
  }
}

@media (max-width: 1610px) and (min-width: 1200px) {
  .col-xs-6.fixed-height {
    max-height: 48px;
    width: 59.3333333%;
  }
  .col-xs-6.fixed-height.push-left {
    max-height: 48px;
    width: 50%;
  }
  .col-xs-2.shift-width {
    width: 12%;
  }
  .col-xs-6.fixed-height .item-box-1,
  .col-xs-2.shift-width .item-box-1 {
    margin: 4px 0 4px;
  }
  #lantern {
    margin: 0 !important;
  }
}

@media (max-width: 1416px) and (min-width: 1200px) {
  .col-xs-5.fix-margin .item-box-1 {
    margin: 4px 0 4px;
  }
}

@media (max-width: 1210px) and (min-width: 1200px) {
  .col-xs-5.fix-margin > img,
  .col-xs-5.fix-margin .item-box-1 {
    margin: 4px -2px 4px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .col-xs-2.fixed-height .item-box-1 {
  }
  .col-xs-2.fixed-height {
    width: 25%;
  }
}

@media (max-width: 1416px) and (min-width: 1200px) {
  .col-xs-2.fixed-height .item-box-1 {
    margin: 4px 0px 4px;
  }
}

@media (max-width: 1775px) and (min-width: 1200px) {
  .col-xs-3.special-fix {
    width: 41.66667%;
    margin: 0 !important;
  }
  .col-xs-3.offset-fix {
    width: 16.66667%;
  }
}

@media (max-width: 1700px) and (min-width: 1200px) {
  .col-xs-4.special-fix {
    //margin-left: -8.333333%
  }
}


@media (min-width: 1200px) {
  .page-spacer {
    height: 40vh;
  }
}

.page-spacer {
  margin: 20vh 12px;
  padding: 0 8px;
  border: 8px outset rgba(249, 249, 249, 0.33);
  background-color: rgba(214,215,221,0.33);
  overflow-x: hidden;
  overflow-y: auto;
}

.page-spacer .popover-inset {
  margin: 0 10%;
}

.page-spacer div[class^='col-'] {
  margin-bottom: 12px;
}

.item-trigger {
  width: 100%;
  height: 100%;
  color: inherit;
}

.item-trigger:hover,
.item-trigger:focus {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#header.container {
  margin: 20px auto 0;
}

#header {
  margin: 20px 5px 0;
}

#forumbtn,
#header .btn-default {
  color: rgba(249,249,249,0.85);
  background-color: transparent;
  box-shadow: 0 0 6px rgba(249,249,249,0.85);
  border: 0;
  font-variant: small-caps;
  font-size: 17px;
  font-weight: 400;
  padding: 9px 12px;
}

#back, #top {
  display: none;
}

.push-right { margin-left: 8.3333%; }
.push-left { margin-left: -8.3333%; }
.push-left-half { margin-left: -4.1666%; }

h3[data-toggle^="collapse"] {
  cursor: pointer;
  margin: 4px 0 0 0;
  padding: 8px 0 12px 0;
  background-color: #20242E;
  font-weight: 400;
  color: #f9f9f9;
}

.collapse {
  padding: 0 6%;
  margin: 12px;
  background-color: #5E6272;
}

.changelog h4 {
  margin: 8px 0;
}

.changelog a {
  color: #1E1E1E;
}

.changelog a:hover {
  color: #F9F9F9;
}

ul {
  list-style-position: inside;
}

.changelog .col-lg-12 li {
  text-align: center;
  padding: 4px 0;
}

.changelog li {
  text-align: left;
  padding: 4px 0;
}

.changelog ul {
  margin-bottom: 0;
}

.changelog {
  margin: 0 auto;
  font-size: 1.15em;
  color: #1E1E1E;
}

.feedback .col-xs-2.vote {
  padding-top: 8px;
  margin-bottom: 0;
}

.changelog .col-lg-12 .col-xs-1.vote {
  padding-top: 20px;
  margin-bottom: 0;
}

.changelog .col-xs-1.vote {
  padding-top: 12px;
}

.feedback .col-xs-2.attrib {
  padding: 8px 0 0;
  margin-bottom: 0;
  max-height: 41px;
  min-width: 48px;
}

@media (max-width: 1325px) and (min-width: 1200) {
  .feedback .col-xs-2.attrib {
    margin-left: -25%;
  }
}

@media (max-width: 709px) {
  .feedback .col-xs-2.attrib {
    margin-left: -25%;
  }
}

.changelog .col-lg-12 .col-xs-1.attrib {
  padding-top: 20px;
}

.changelog .col-xs-1.attrib {
  padding: 12px 0 8px;
}

.feedback .col-xs-2 b {
  padding: 4px;
  position: absolute;
  top: 8px;
}

.changelog .col-xs-1 b {
  padding: 4px;
  position: absolute;
  top: 24px;
}

.feedback img.icon {
  height: 24px;
  padding-top: 4px;
}

.changelog img.icon {
  height: 36px;
  padding-top: 12px;
}

.feedback img.avatar {
  max-height: 24px;
  padding: 4px;
}

.changelog img.avatar {
  max-height: 40px;
  padding-top: 4px;
}

.changelog .col-xs-8 > img {
  width: 40px;
  margin: 4px 0;
}

.changelog .col-xs-10 > img {
  margin: 4px 0;
}

.changelog .col-lg-12,
.changelog .col-lg-6 {
  margin: 4px auto;
  padding: 8px;
  border: 8px outset rgba(249, 249, 249, 0.33);
  background-color: rgba(214,215,221,0.33);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
}

.fb-block {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 8px 4px !important;
}

.note-block {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

div[class^="fb-"]:not(.fb-block) {
  padding: 0;
  margin: 0;
}

div[class^="note-"] {
  padding: 4px 0;
  margin: 8px 0 0;
}

div[class^="fb-"]:hover,
div[class^="note-"]:hover {
  color: #F9F9F9;
  background-color: rgba(32,36,46,0.4);
  cursor: pointer;
}

h3[data-toggle^="collapse"]:hover {
  font-weight: 600;
}

.item .row > img {
  padding-bottom: 8px;
}

.suggest {
  margin-bottom: 0 !important;
}

.fb-name .suggest {
  padding: 6px 0 4px;
  font-size: 21px;
  //color: rgba(32,36,46,0.8);
}

.price-label {
  color: #20242E;
  text-shadow: -1px 0 0.5px #F9F9F9, 0 1px 0.5px #F9F9F9, 1px 0 0.5px #F9F9F9, 0 -1px 0.5px #F9F9F9,
               -1px -1px 0.5px #F9F9F9, 1px 1px 0.5px #F9F9F9, 1px -1px 0.5px #F9F9F9, -1px 1px 0.5px #F9F9F9;
  position: absolute;
  top: 10px;
  //padding-left: 8px;
  display: none;
}

.name-label {
  display: none;
  position: absolute;
  z-index: 1;
}

#submit-btn { margin-left: 8px; }

#left-btns {
  padding: 26px 8px 8px 42px;
}

#opt-btn { margin-left: 4px; }

h5 {
  margin: 0 0 4px 0;
  color: #F9F9F9;
  font-weight: normal;
}

div[class^='hero-box-'] img {
  margin-bottom: 4px;
}

.hero-box-5 {
  padding-top: 4px;
  background-color: #23242A;
  width: 264px;
}

.hero-box-4 {
  padding-top: 4px;
  background-color: #23242A;
  max-width: 212px;
}

.hero-box-3 {
  padding-top: 4px;
  background-color: #23242A;
  width: 160px;
}

.hero-box-2 {
  padding-top: 4px;
  background-color: #23242A;
  width: 112px;
}

.fill-section {
  margin: 0 5%;
}

.notes h4 {
  margin: 0 0 8px;
}

