body {
  background-color: #B1E3E4;
  color: #191919;
}

a { color: #7FB8B9; }
a:focus, a:hover {
  color: #304A46;
  text-decoration: none;
}
.btn-default:hover a,
.btn-default:focus a {
  color: #304A46;
}
.btn-default:hover,
.btn-default:focus {
  color: #304A46;
  background-color: rgba(255,255,255,0.35);
  text-decoration: none;
}

#footer {
  padding: 12px 0;
  height: 48px;
  font-size: 1.0em;
  color: #F9F9F9;
}

#header {
  background-image: url('../img/corevernheader.png');
  background-position: center;
  background-repeat: no-repeat;
  //border-left: 24px solid #B1E3E4;
  //border-right: 24px solid #B1E3E4;
  height: 320px;
}

#title {
  color: #1D3E37;
  text-shadow: -2px 0 0.5px #F9F9F9, 0 2px 0.5px #F9F9F9, 2px 0 0.5px #F9F9F9, 0 -2px 0.5px #F9F9F9,
               -2px -2px 0.5px #F9F9F9, 2px 2px 0.5px #F9F9F9, 2px -2px 0.5px #F9F9F9, -2px 2px 0.5px #F9F9F9;
}

#subtitle {
  font-size: 28px;
  color: #F9F9F9;
  text-shadow: 2px 2px 0 #292018;
  margin-bottom: 0px;
}

.position-header {
  position: relative;
  top: 90%;
  -webkit-transform: translateY(-79%);
  -ms-transform: translateY(-79);
  transform: translateY(-79);
  color: #F9F9F9;
}

.center-y {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50);
  transform: translateY(-50);
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #F9F9F9;
  font-size: 48px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px;
  background-color: #304A46;
  border: 4px solid #7FB8B9;
  color: #F9F9F9;
  font-size: 32px;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #1D3E37;
  font-size: 21px;
}

h4 {
  margin: 8px 0 8px 0;
  color: #1D3E37;
  font-size: 18px;
}

h4 img {
  height: 36px;
  width: 36px;
}

h5 {
  margin: 0 0 4px 0;
  color: #F9F9F9;
  font-weight: normal;
}

.section-bg {
  background-color: #C7D8D9;
  padding: 8px;
}

.padded {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 45px;
  padding-right: 45px;
}

#padth {
  border: 3px solid #7FB8B9;
  padding-top: 2px;
  padding-bottom: 2px;
}

#padless {
  padding: 0px;
}

.table {
  margin-bottom: 12px;
  background-color: rgba(255,255,255,0.175);
}

.active2 {
  background-color: rgba(255,255,255,0.25);
}

.connect-3 {
  border-right: 3px solid #292018;
  height: 10px;
}

.connect-6 {
  border-right: 3px solid #1D3E37;
  height: 20px;
}

.connect-6-long {
  border-right: 3px solid #1D3E37;
  height: 50px;
}

.horiz-connect {
  border-top: 3px solid #1D3E37;
}

.horiz-dashed {
  border-top: 2px dashed #1D3E37;
}

.hero-box-5 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 264px;
}

.hero-box-4 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 212px;
}

.hero-box-3 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 160px;
}

.hero-box-2 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 112px;
}

.item-box-4 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 180px;
}

.item-box-3 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 136px;
}

.item-box-2 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 92px;
}

.item-box-1 {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #1D3E37;
  width: 48px;
}

.spacer {
  height: 40px;
}

#popover-build1, #popover-build2, #popover-build3 {
  text-align: center;
}

#build {
  text-align: center;
  display: inline-block;
  max-width: 80%;
}

.border {
  border: 4px solid #1D3E37;
}

.item-row {
  display: inline-block;
  margin: 0px auto 8px auto;
  padding: 4px 4px 0 4px;
  background-color: #1D3E37;
  color: #F9F9F9;
  width: auto;
  max-width: 600px;
}

.item-row > img, .item-row > span > img {
  display: inline-block;
  margin-bottom: 4px;
}

.popover {
  padding: 0;
  background-color: #1D3E37;
  border-radius: 0px;
}

.popover-title {
  background-color: #1D3E37;
  color: #F9F9F9;
  padding: 8px;
  border: 0px;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;
}

.popover-footer {
  background-color: #1D3E37;
  color: #F9F9F9;
  padding: 0px;
  border: 0px;
}

.popover-timing {
  background-color: #D6D7DD;
  color: #191919;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.popover-content {
  background-color: #1D3E37;
  color: #F9F9F9;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
  font-size: 13px;
}

.popover.bottom .arrow:after {
  border-bottom-color: #1D3E37;
}

.popover.left .arrow:after {
  border-left-color: #1D3E37;
}

.popover.right .arrow:after {
  border-right-color: #1D3E37;
}

.popover.top .arrow:after {
  border-top-color: #1D3E37;
}

.tooltip.top .tooltip-inner {
  background-color: #1D3E37;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #1D3E37;
}

@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}

#skills {
  padding-top: 4px;
  padding-bottom: 0px;
}

#skills > img {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 48px;
}

#stats1 {
  width: 80%;
  height: 210px;
  margin: 12px auto;
}

#stats2 {
  width: 80%;
  height: 210px;
  margin: 12px auto;
}

#stats3 {
  width: 80%;
  height: 210px;
  margin: 12px auto;
}

#winratebars {
  width: 90%;
  height: 420px;
  margin: 12px 0 0 0;
  display: inline-block;
}

#blast {
  width: 85%;
  height: 210px;
  margin: 12px auto;
}

#curse {
  width: 85%;
  height: 180px;
  margin: 8px auto;
}

#current, #predicted {
  width: 40%;
  height: 130px;
  margin: 0 auto 8px auto;
  display: inline-block;
}

#intro, #guide, #video {
  margin-top: 20px;
}

#intro .padded {
  padding-right: 75px;
  padding-left: 75px;
}

.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #3B514E;
  font-weight: bold;
  border: 4px solid #3B514E;
  box-shadow:
    inset 0 0 0 4px #7FB8B9;
  color: #f9f9f9;
  cursor: pointer;
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  background-color: #3B514E;
  font-weight: bold;
  border: 4px solid #C7D8D9;
  box-shadow:
    inset 0 0 0 4px #7FB8B9;
  color: #f9f9f9;
  cursor: pointer;
}

.nav-tabs > li.active > a {
  background-color: #3B514E;
  color: #f9f9f9;
  border: 4px solid #3B514E;
}

.nav-tabs > li > a {
  width: 96px;
  border: 4px solid #C7D8D9;
  border-radius: 0 0 4px 4px;
  background-color: #C7D8D9;
  color: #304A46;
  font-size: 18px;
  padding: 4px;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline; /*IE7*/
  *zoom:1; /*IE7*/
}

.nav-tabs {
  text-align: center;
  border-bottom: 0;
  //border-top: 4px solid #304A46;
}

#icons {
  padding: 8px;
}

#stats {
  padding-top: 8px;
}

#stats > p {
  display: inline-block;
  font-weight: bold;
}

.ability {
  padding: 0 30px 0 30px;
  font-size: 14px;
}

.notes > ul {
  font-size: 14px;
  font-style: italic;
  padding: 0 30px 0 30px;
}

.notes {
  padding-left: 15px;
}

#hskills .col-md-4 {
  padding: 0;
}

#hskills .col-md-8 {
  margin-top: 12px;
}

#hskills .col-md-4 > img {
  margin-top: 24px;
}

#navigation {
  padding: 8px 30px 0 30px;
}

.navbar-default {
  background-color: rgba(255,255,255,00);
  padding: 0;
  border: 0;
}

.btn-default {
  background-color: rgba(255,255,255,0.35);
  border: 0;
  font-weight: 500;
}

.btn-default:active:hover,
.btn-default:hover,
.btn-default:active {
  background-color: rgba(255,255,255,0.35);
}

.btn:active:focus,
.btn:focus { outline: 0; }

.starting {
  outline: 1px solid #22dd33;
}

.sixslot {
  outline: 1px solid #2233cc;
}
